<h1> welcome </h1>

<h3>Status:@ViewBag.name</h3>

<input type="text" id="pass" value="1234"/>
<button onclick="login()">Login</button>
<button onclick="logout()">Logout</button>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    async function login(){
        var pass = $("#pass").val()
        var data = { loginId:"test", password: pass}
        console.log(data)
        var response = await sendRequest(data)
        if (response.result) {
            window.location.href="/account"
        }else{
            alert('pass error')
        }
    }
    function logout(){
        window.location.href="/account/logout"
    }
    function sendRequest(data){
        return $.ajax({
            url:"/Account/Login",
            method:"POST",
            data:data
        })
    }
</script>
